.add-doktor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Tüm elemanları sola hizalayın */
  justify-content: center;
  height: 100vh;
  background-color: rgba(173, 255, 47, 0.8); /* Açık yeşil arka plan, %80 opaklık */
}

.add-doktor-container input[type="text"] {
  width: calc(33.33% - 20px); /* Ekranın genişliğinin 1/3'ü - kenar boşlukları */
  height: 40px;
  margin: 10px 20px; /* Sağ ve sol kenar boşlukları */
  padding: 5px;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.5); /* Beyaz arka plan, %50 opaklık */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-doktor-container .add-button {
  width: 300px; /* Ekranın genişliğinin 1/3'ü - kenar boşlukları */
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px; /* Alt boşluk */
  margin-left: 90px; /* Butonu sağa kaydır */
  background-color: rgb(72, 158, 144) !important; /* Öncelikli olarak mavi arka plan */
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-doktor-container .add-button:hover {
  background-color: rgb(72, 158, 144)lue !important; /* Öncelikli olarak koyu mavi arka plan */
}

.back-button{
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(72, 158, 144);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.back-button:hover {
  background-color: rgb(97, 172, 160);
}

.doktor-list {
  justify-content: flex-end;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: none;
  flex-direction: column;
}

.doktor-list h3 {
  margin-bottom: 10px;
}

.doktor-list ul {
  list-style-type: none;
  padding: 0;
}
.doktor-list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 3px;
  border: 1px solid grey;
}